<!-- Docs page layout -->
<div class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
        <h1>广东轮滑考级联盟</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12" role="main">
            <div class="bs-docs-section">
                <h1 id="download" class="page-header">简介及宗旨</h1>
                <p>
                    GSTA是专职自由式轮滑教育教学认证的服务性机构，服务广东省，以推广和普及轮滑运动，增强全民族身体素质，丰富群众文化生活为宗旨。并促进轮滑运动标准化规范化的行业发展，提高轮滑运动技术水平。
                </p>
            </div>
        </div>
    </div>
</div>