<main class="bs-docs-masthead" id="content" tabindex="-1">
    <div class="container">
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">粤</span>
        <p class="lead">广东轮滑协会服务省内轮滑爱好者，提供各类等级考试认证，欢迎加入。</p>
        <p class="lead">
            <a href="#/c/cert" class="btn btn-outline-inverse btn-lg" >认证查询</a>
        </p>
    </div>
</main>

<div class="bs-docs-featurette">
    <div class="container">
        <h2 class="bs-docs-featurette-title">为广东省轮滑爱好者而设计。</h2>
        <p class="lead">广东轮滑协会让轮滑运动更具激情，并提供当地的轮滑考试点，方便轮滑爱好者就近参加考级。</p>

    </div>
</div>