<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css" />
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <link href="stylesheets/docs.min.css" rel="stylesheet">
    <link href="stylesheets/patch.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="javascripts/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="http://v3.bootcss.com/apple-touch-icon.png">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
  </head>
  <body  class="bs-docs-home">
  <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">广东轮滑协会</a>
      </div>
      <nav id="bs-navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/" >首页</a>
          </li>
          <li>
            <a href="/cert">认证查询</a>
          </li>
          <li><a href="/apply">考级报名</a></li>
          <li><a href="/about">关于协会</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="http://mb.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'themes'])" target="_blank">主题/模板</a></li>
          <li><a href="http://www.bootcss.com/"  target="_blank">登陆</a></li>
          <li><a href="http://www.bootcss.com/"  target="_blank">注册</a></li>-->
        </ul>
      </nav>
    </div>
  </header>
  <main class="bs-docs-masthead" id="content" tabindex="-1">
    <div class="container">
      <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">粤</span>
      <p class="lead">广东轮滑协会服务省内轮滑爱好者，提供各类等级考试认证，欢迎加入。</p>
      <p class="lead">
        <a href="/cert" class="btn btn-outline-inverse btn-lg" >认证查询</a>
      </p>
    </div>
  </main>

  <div class="bs-docs-featurette">
    <div class="container">
      <h2 class="bs-docs-featurette-title">为广东省轮滑爱好者而设计。</h2>
      <p class="lead">广东轮滑协会让轮滑运动更具激情，并提供当地的轮滑考试点，方便轮滑爱好者就近参加考级。</p>

    </div>
  </div>

  <footer class="bs-docs-footer">
    <div class="container">
      <ul class="bs-docs-footer-links">
        <li><a href="/">首页</a></li>
        <li><a href="/about">关于</a></li>
        <li><a href="/admin">管理</a></li>
      </ul>

      <p>地址：广东轮滑协会</p>

    </div>
  </footer>
  </body>
</html>
