<div ng-controller="ngFileUploadController">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="panel">
               <div class="panel-body">
                  <h4 class="page-header mt0">Select files</h4>
                  <div>
                     <!-- 3. nv-file-over uploader="link" over-class="className"-->
                     <div  ngf-drop ngf-change="selectfiles($files)"
                          ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                          ngf-accept="'image/*,application/pdf'" over-class="bg-info" class="box-placeholder my-drop-zone">Base drop zone</div>
                  </div>
                  <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"-->
                  <hr/>
                  <!--
                  <input filestyle="" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="uploader" multiple="" class="form-control" />
                  <br/>
                  -->
                  <input id="fileId1" type="file" accept="image/png,image/gif" name="file" />
                  <input type="file"  data-button-text="Single" ngf-select ngf-multiple="true" ngf-change="selectfiles($files)" class="form-control"  accept="image/png,image/gif" ngf-accept="'image/*,application/pdf'"/>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>