<div class="form-group" ng-controller="textForeignController as demo" ng-init="demo.init($index,item)">
    <label class="col-sm-2 control-label">{{item.title}}</label>
    <div class="col-sm-6 ">
        <div class="input-group" uib-dropdown  auto-close="outsideClick">
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名字</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in persons" ng-click="demo.select_item(person)" data-toggle="dropdown"  uib-dropdown-toggle >
                                <td>{{ person.sort_id }}</td>
                                <td>{{ person.name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
            <input data-toggle="dropdown" uib-dropdown-toggle class="form-control"  type="text" name="{{item.field}}" ng-model="$parent.data[$index]" ng-disabled="item.component_disable" ng-required="item.required"/>
            <div class="input-group-btn">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"  uib-dropdown-toggle ><span class="fa fa-edit"></span></button>
            </div>
        </div><!-- /input-group -->
    </div>
    <div class="col-sm-4"  ng-if="item.required">
        <small class="text-muted">必须</small>
    </div>
</div>